.hero{
        background-image: url(../img/image.webp);
        width: 100%;
        height: 590px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        flex-direction: column;
        align-items: center;
        color: #fff;
        @extend %flex;
    h2{
        background-color: #000;
        font-size: 65px;
    }
    p{
        background-color: #000;
        margin: 10px 0;
        font-size: 24px;
    }
    a{
        color: white;
        background-color: black;
        padding: 10px;   
    }
    
}

.bienvenidos{
        text-align: center;
        margin: 20px;
    h2{
        font-family: $tipografiaGeneral;
        font-size: 50px;
        font-weight: 600;
        color: #000;
    }
    p{
        font-family: $tipografiaGeneral;
        font-size: 15px;
    }
}

.productos{
    h2{
        text-align: center;
        color: black;
        font-size: 24px; 
    }

    div{
        border-radius: 10px;
        width: 250px;
        height: 300px;
        text-align: center;
        display: inline-block;
        border: solid black;
        background-color: black;
    }

    img{
        background-color: black;
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    img:nth-child(6){
        height: 100px;
    }

    h3{
        margin-bottom: 13px;
        color: white;
    }
    
    a{
        background-color: black;
        padding: 10px;
        color: white;
    }
}

.productos__imagenes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        max-width: 1100px;
        margin: 0 auto;
        grid-auto-columns: 1fr;
        overflow: hidden;
        margin-bottom: 10px;

        div {
        place-self: center;
        }
}
.productos__imagenes .boton {
    transition: background-color .5s;
}
.boton:hover {
    border-radius: 20px;
    background-color: beige;
    color: #000;
}
.float__whatsapp{
    position: fixed;
    bottom: 60px;
    right: 60px;
}

/*MAIN CONTACTO*/
.contact{
        margin: 20px 0;
        font-size: 24px;
    h1{
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        margin-bottom: 0;
        line-height: 1.5;
    }
    }
    .horario {
        display: flex;
        flex-direction: column;
        font-weight: 600px;
        color: #555252;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.formularioContacto {
        padding-bottom: 20px; }
.formularioContacto .card {
        background-color: #f6f5e9;
        border: #0e0e0e solid 2px; }
.formularioContacto .card div form div .btn {
        border: #0e0e0e solid 2px;
        color: #0e0e0e; }
.formularioContacto .card div form div .btn:hover {
        background-color: #6C757D;
        color: #f6f5e9; 
}
.iframemaps{
    display: flex;
    justify-content: center;
    margin: 5px 0 ;
}

/* MAIN Acerca de  */
.acercade {
    background-color: #f6f5e9;
    width: 100%;
    height: auto;
    text-align: justify;
    padding-bottom: 20px; 
}

.texto{
        width: 1100px;
        p{
        font-size: 24px;
        margin: 50px;
    }
}
.titulo{
        font-family: $tipografiaGeneral;
        font-size: 30px;
        display: flex;
        justify-content: center;
}

.service{
    max-width: 1024px;
    margin: 10px auto;
    display: grid;
    padding: 0 20px;
    gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;

.conjunto_service {
        grid-column: 1 / 2;
        height: 100%;
        display: flex;;
        align-items: start;
        padding-top: 10px;
    }
    
    .conjunto_benefits {
        border-left: 2px solid #d1d1d1;
        place-content: center;
        display: flex;
        padding: 5px 5px 5px 10px;
        flex-wrap: wrap;
        grid-column: 2 / 3;
        align-items: start;
        justify-content: center;
    .conjunto {
        width: 50%;
        }
    p{
        font-family: $tipografiaGeneral; 
        }
    }
}
.bi::before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin-bottom: 35px;
}